.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card h2 {
  color: #ff4d6d;
  font-size: 30px;
}