.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: #fff;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
}

li:hover {
  background: #334155;
}